@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --color-purple-muted: #d9d5eb;
  --color-green-muted: #daebe6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-serif);
  
  --color-brand-purple: #d9d5eb;
  --color-brand-green: #daebe6;
}

/* Remove dark mode override for a pure zen white vibe */

body {
  background: var(--background);
  color: var(--foreground);
}
